<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./news.css">
	<script type="text/javascript" src="./bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/build.css">
    <link rel="stylesheet" type="text/css" href="css/activity.css">
    <link href="css/login.css" rel="stylesheet" type="text/css"/>
    <link href="css/zzsc.css" rel="stylesheet" type="text/css"/>
    <link href="css/dlzc.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="js/main.js"></script>
    <script language="javascript" type="text/javascript" src="js/popwin.js"></script> 
    <link rel="stylesheet" type="text/css" href="css/nanoscroller.css">
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand">
					<img src="./image/logo.png">
				</div>
		  	</div>
		  	<label for="toggle-checkbox" id="toggle-label" class="visible-xs-inline-block">MENU</label>
		  	<input type="checkbox" id="toggle-checkbox" class="hidden">
		  	<div class="hidden-xs">
		  		<ul class="nav navbar-nav">
			  		<li class="active"><a href="#">首页</a></li>
			  		<li><a href="#">国内</a></li>
			  		<li><a href="#">国际</a></li>
			  		<li><a href="#">数读</a></li>
			  		<li><a href="http://www.baidu.com">社会</a></li>
			  	</ul>
			  	<ul class="nav navbar-nav navbar-right">
					  <li><a href="login.html">登入</a></li>
					  <li class="login-link-box"><a class="cd-signin">登录</a></li>
			  		<li><a href="signup.html">注册</a></li>
			  	</ul>
		  	</div>		  	
		</div>
	</div>
    
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="list-group side-bar hidden-xs">
					<a href="#" class="list-group-item active">综合</a>
					<a href="#" class="list-group-item">电影</a>
					<a href="#" class="list-group-item">电视</a>
					<a href="#" class="list-group-item">小说</a>
					<a href="#" class="list-group-item">新闻</a>
					<a href="#" class="list-group-item">早报</a>
					<a href="#" class="list-group-item">文章</a>
				</div>
			</div>
			<div class="col-md-7">
				<div class="news-list">
					<div class="news-list-item clearfix">
						<div class="col-xs-5">
							<img src="./image/new1.jpg" class="img-responsive" />
						</div>
						<div class="col-xs-7">
							<a href="./index1.html" class="title">
								1月23日，国家新闻出版广电总局和中国作家协会联合发布2017年优秀网络文学原创作品推介名单，《复兴之路》《岐黄》《择天记》《华簪录》等24部作品入选。
							</a>
							<div class="info">
								<span><span class="avatar"><img src="./image/touxiang.jpg"></span>王花花</span>
								<span>25k评论</span>
								<span>10分钟前</span>
							</div>
						</div>						
					</div>

					<div class="news-list-item clearfix">
						<div class="col-xs-5">
							<img src="./image/new2.jpg" class="img-responsive" />
						</div>
						<div class="col-xs-7">
							<a href="#" class="title">
								2月6日电 谈及2018年春节期间文化活动安排，文化部副部长杨志今今日介绍，各级公共图书馆、文化馆和博物馆、美术馆等公共文化机构节日期间不休息，将照常免费向公众开放，为群众提供文化服务。
							</a>
							<div class="info">
								<span><span class="avatar"><img src="./image/touxiang.jpg"></span>王花花</span>
								<span>25k评论</span>
								<span>10分钟前</span>
							</div>
						</div>						
					</div>		

					<div class="news-list-item clearfix">
						<div class="col-xs-5">
							<img src="./image/new3.png" class="img-responsive" />
						</div>
						<div class="col-xs-7">
							<a href="#" class="title">
								2017年末，莫言在《人民文学》发表戏曲剧本《锦衣》。新年伊始，由莫言编剧的话剧《我们的荆轲》在首都剧场上演，莫言亲自担纲编剧，话剧《霸王别姬》也即将于2月17日生日当天在美国休斯敦上演。
							</a>
							<div class="info">
								<span><span class="avatar"><img src="./image/touxiang.jpg"></span>王花花</span>
								<span>25k评论</span>
								<span>10分钟前</span>
							</div>
						</div>						
					</div>	

					<div class="news-list-item clearfix">
						<div class="col-xs-5">
							<img src="./image/new4.jpg" class="img-responsive" />
						</div>
						<div class="col-xs-7">
							<a href="#" class="title">
								1月26日，由中国扶贫基金会、亚马逊中国等联合举办的“阅读这件小事，给TA成长大力量”首个乡村儿童阅读公益展在北京西单大悦城开放。该展览聚焦乡村儿童阅读缺失现状，展示了乡村孩子阅读的状况故事。
							</a>
							<div class="info">
								<span><span class="avatar"><img src="./image/touxiang.jpg"></span>王花花</span>
								<span>25k评论</span>
								<span>10分钟前</span>
							</div>
						</div>						
					</div>			
				</div>				
			</div>
			<div class="col-md-3">
				<div class="search-bar">
					<input type="search" placeholder="搜索" class="form-control"/>
				</div>
				<div class="side-bar-card flag clearfix">
					<div class="col-xs-5">
						<img src="./image/youhai.png"/>
					</div>
					<div class="col-xs-7">
						<div class="text-lg">有害信息举报专区</div>
						<div>举报电话：12377</div>
					</div>
				</div>

				<div class="side-bar-card">
					<div class="card-title">
						24小时新闻
					</div>
					<div class="card-body">
						<div class="list">
							<div class="item">
								<div class="title">网站最大的特色是悬浮于视频上方的实时评论功能，爱好者称其为“ 弹幕”。</div>
								<div class="desc">15K新闻 1K评论</div>
							</div>
							<div class="item">
								<div class="title">网站最大的特色是悬浮于视频上方的实时评论功能，爱好者称其为“ 弹幕”。</div>
								<div class="desc">15K新闻 1K评论</div>
							</div>
							<div class="item">
								<div class="title">网站最大的特色是悬浮于视频上方的实时评论功能，爱好者称其为“ 弹幕”。</div>
								<div class="desc">15K新闻 1K评论</div>
							</div>
							<div class="item">
								<div class="title">网站最大的特色是悬浮于视频上方的实时评论功能，爱好者称其为“ 弹幕”。</div>
								<div class="desc">15K新闻 1K评论</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="footer">
		<div class="glyphicon glyphicon-copyright-mark"></div>
		2017  拴蛋头条  中国互联网举报中心ICP证1401号
	</div>
</body>
</html>